doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE*edge")
        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet' href="css/main.min.css")
        title Document
    body
        include sections/header
        include sections/about
        include sections/projects
        include sections/process
        include sections/provided
        include sections/team
        include sections/testimonials
        include sections/blogs
        include sections/contact
        include sections/footer

